/log/*
!/log/.keep
/tmp/*
!/tmp/.keep
/coverage/
!/coverage/.keep

# RSpec
/.rspec_status

# IntelliJ
/.idea/
/.generators
/.rakeTasks

# Ignore master key for decrypting credentials and more.
/config/master.key

# Webpacker
/public/packs
/public/packs-test

# JavaScript
/.bundle
/node_modules
/yarn-error.log
yarn-debug.log*
.yarn-integrity

/config/docker/.env
